<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        if (/Android|iPhone|iPad|iPod|Mobile/i.test(navigator.userAgent)) {
            if (!location.hostname.startsWith("m.")) {
                location.href = "https://m." + location.hostname + location.pathname;
            }
        }
    </script>
    <meta charset="UTF-8">
    <title>Contact</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div th:if="${successMessage}">
        <script th:inline="javascript">
            alert([[${successMessage}]]);
        </script>
    </div>
</head>
<body>

<!-- HEADER -->
<div id="heads">
    <th:block th:replace="common/head"/>
</div>

<!-- 본문 -->
<main class="request-page">

    <div class="title">CONTACT</div>
    <div class="divider"></div>

    <form action="/contact/send" method="post" class="request-form">

        <!-- 1. Contact Info -->
        <section>
            <h2>1. Contact Info</h2>

            <label>이름
                <input type="text" name="name" placeholder="이름을 입력해주세요" required>
            </label>

            <label>연락처
                <input type="text" name="contact" placeholder="전화번호를 입력해주세요" required>
            </label>

            <label>이메일
                <input type="email" name="email" placeholder="id@email.com" required>
            </label>
        </section>

        <div class="divider"></div>

        <!-- 2. Message -->
        <section>
            <h2>2. Message</h2>
            <textarea name="body" placeholder="내용을 입력해주세요" required></textarea>
        </section>

        <div class="divider"></div>

        <button type="submit" class="submit-btn">Submit</button>
    </form>

</main>

<!-- FOOTER -->
<div id="foot">
    <th:block th:replace="common/foot"/>
</div>

</body>
</html>
