<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artists (Mobile)</title>

    <!-- 모바일 전용 CSS -->
    <link rel="stylesheet" th:href="@{/css/mobile.css}" href="/css/mobile.css">
</head>
<body>

<!-- 모바일 헤더 -->
<div id="heads" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="common/m/head"/>
</div>

<!-- 본문 내용 -->
<main class="tw-padding-0 padding-18">
    <div class="title">ARTISTS</div>
    <div class="divider"></div>

    <p>
        우리와 함께할 창작자를 찾습니다!<br>
        음악 제작, 작곡, 편곡, 작사, 믹스/마스터 등 다양한 분야에서 함께할 창작자를 기다립니다.
    </p>

    <p>
        지금은 초기 단계지만, 앞으로 다양한 프로젝트와 협업 기회를 제공할 예정입니다.<br>
        창작에 열정이 있는 분들의 많은 관심 바랍니다.
    </p>

    <div class="divider"></div>

    <p>
        관심 있는 분들은
        <a href="/mtest/contact">Contact 페이지</a>
        를 통해 문의 또는 지원해주세요.<br>
        선정된 아티스트는 향후 이 페이지에 프로필이 등록되어 소개됩니다.
    </p>
</main>

<!-- 모바일 푸터 -->
<div id="foot" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="common/m/foot :: footFragment"/>
</div>

</body>
</html>
